:root {
    --bg-dark: #454372;
    --secondary: #7692FF;
    --light: #fff;
    --btnHover: #2DD881;
    --text-light: rgba(255, 255, 255, 0.8);

    --transition: 0.3s all ease;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    text-align: center;
    font-size: 1.3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    border-radius: 10px;
    border: 2px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--light);
    width: 75%;
    max-width: 300px;
    font-size: 1.2rem;
    padding: 2rem;
    transition: var(--transition);

}

button:hover {
    background-color: var(--btnHover);
    cursor: pointer;
}

input {
    padding: 0.7rem;
    width: 75%;
    margin-bottom: 1rem;


}

#deleteFortuneBtn:hover {
    background-color: #ED254E;
    color: #fff;
}

.secondaryBtn {
    --btnHover: #0492d9;
    padding: .9rem;
    font-size: 0.9rem;
    width: 75%;
    margin: 0 auto;
    
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

summary {
    color: var(--light);
    margin-bottom: 1rem;
    /* padding: 2rem;
    border: 2px solid var(--secondary);
    display: inline-block;
    border-radius: 10px; */
}